<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @category.nombre %>
</p>

<%= link_to 'Editar', edit_admin_category_path(@category) %> |
<%= link_to 'Volver', admin_categories_path %>
