<% content_for :sidebars do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
<% end %>
<h3>Reporte de Materiales</h3>
<div id="content" class='col-sm-8 col-md-9' data-hook>
	<table class="table table-striped order-summary">
	    <thead>
	      <tr>
	      	<th>Materiales</th>
	        <th class="pull-right">Total Realizado</th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @pedidos.each do |pedido| %>
	        <tr>
	          <td><%= p = pedido.material.nombre %></td>
	          <td class="pull-right"><%= Spree::Pedido.where(estado_pago: 2).joins(:material).where("spree_materials.nombre = ?",p).count %></td>
	        </tr>
	      <% end %>
	    </tbody>
  </table>
  <h5>Gráfico Total Últimos 6 Meses:</h5>
  <%= column_chart @grafico, id: "trabajo-chart", width: "800px", height: "500px" %>
</div>