<% content_for :sidebars do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
<% end %>
<div>
	<p>Reporte Por Nombre de Paciente</p>
	<%= form_tag "/search/create", method: :get, remote: true, id: "search-form" do %>
	<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Busque Paciente", type: "search", data: {autocomplete: pedidos_autocomplete_pedido_nombres_path} %>
	<%= content_tag :button, class: "btn btn-success", type: :submit do %>
		Buscar
		<% end %>
	<% end %>
	<br>
</div>
<script type="text/javascript" charset="utf-8">
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>
<div>
	<% @pedidos.each do |p| %>
		
	<% end %> 
</div>
<div id="resultados">
	<br>
</div>