<% content_for :sidebars do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render :partial => 'spree/shared/taxonomies' %>
    </div>
<% end %>
<h3>Reportes</h3><br>
<p>Seleccione en la barra lateral izquierda el tipo de reporte que desea.</p>