<div id="spree-footer">
        <div class="container">
                <footer id="footer" class="row" data-hook>
                  <div id="footer-left" class="col-md-6" data-hook>
                    <p><%= "COPYRIGHT © 2016"  %>&nbsp;<%= link_to 'CONSTRUWEB', 'http://www.construweb.cl/' %></p>
                  </div>
                  <div id="footer-right" class="col-md-6" data-hook></div>
               </footer>
		</div>
</div>