<aside id="sidebars" class="col-sm-4 col-md-3" data-hook>
  <a class="list-group-item" href="/reportes/paciente"><img src="/assets/12_icono_reporte_por_paciente.png" width="25" height="25">&nbsp;Reporte por Paciente</a>
  <a class="list-group-item" href="/reportes/trabajo"><img src="/assets/13_icono_reporte_trabajo.png" width="25" height="25">&nbsp;Reporte por Trabajo</a>
  <a class="list-group-item" href="/reportes/material"><img src="/assets/14_icono_reporte_por_material.png" width="25" height="25">&nbsp;Reporte por Material</a>
  <a class="list-group-item" href="/reportes/fecha"><img src="/assets/11_icono_reporte_por_fecha.png" width="25" height="25">&nbsp;Reporte por Fecha</a>
  <a class="list-group-item" href="/reportes/gasto"><img src="/assets/1.png" width="25" height="25">&nbsp;Reporte de Gastos</a>
</aside>