<style type="text/css">
	a#sidebar_show.list-group-item{
		padding: 10px 15px;
		font-size: inherit;
	}
</style>
<aside id="sidebar_show" class="col-sm-4 col-md-3" data-hook>
  <a class="list-group-item" id="sidebar_show" href="/pedidos/new"><img src="/assets/icono_documento.png" width="25" height="25">&nbsp;Realizar Pedido</a>
  <a class="list-group-item" id="sidebar_show" href="/activos"><img src="/assets/icono_carpetas.png" width="25" height="25">&nbsp;Pedidos Activos</a>
  <a class="list-group-item" id="sidebar_show" href="/reportes"><img src="/assets/10_icono_reportes.png" width="25" height="25">&nbsp;Reportes</a><br>
  <img src="/assets/secuencia">
</aside>