<aside id="sidebar" class="col-sm-4 col-md-3" data-hook>
  <a class="list-group-item" href="/pedidos/new"><img src="/assets/icono_documento.png" width="40" height="40">&nbsp;Realizar Pedido</a>
  <a class="list-group-item" href="/activos"><img src="/assets/icono_carpetas.png" width="40" height="40">&nbsp;Pedidos Activos</a>
  <a class="list-group-item" href="/reportes"><img src="/assets/10_icono_reportes.png" width="40" height="40">&nbsp;Reportes</a><br>
</aside>
