<h3>Bienvenido <%= @current_spree_user.nombre %></h3></br>
<p>Para realizar un pedido presione sobre el boton "Realizar Pedido" de la barra lateral izquierda. </p></br>
<p>Si desea ver el historial de sus pedidos realizados, presione sobre el boton "Mi Cuenta".</p></br>
<p>Si desea ver sus pedidos activos, presione sobre el boton "Pedidos Activos" de la barra lateral izquierda.</p>